.botones{
    width: 50px;
}
header{
    width: 100%;
    height: 50px;
    background-color:rgb(255, 151, 72);
    color: rgb(150, 45, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: auto; 
}
body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: rgb(255, 203, 169);
}